@charset "utf8";

*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a{
  text-decoration: none;
}

ul{
    padding-left: 0;
    list-style: none;
}

/*---------- Mount Effect ---------- */

.fadeIn{ animation: 0.3s ease-in-out fadeInEffect; }
@keyframes fadeInEffect {
    0%{
      opacity: 0; transform: translateX(50px); 
    }
    100%{
      opacity: 1; transform: translateX(0px); 
    }
}

.navMount{ animation: 0.7s ease-in-out navMountEffect; }
@keyframes navMountEffect {
    0%{
      transform: translateY(-80px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
}

.bgMount{ animation: 1.7s ease-in-out bgMountEffect; }
@keyframes bgMountEffect {
    0%{
      transform: translate(-50%, -50%) scale(2);
    }
    100%{
        transform: translate(-50%, -50%) scale(1.0);
    }
}

.mountSlideLeft{ animation: 0.3s ease-in-out mountSlideLeftEffect; }
@keyframes mountSlideLeftEffect {
    0%{
      transform: translateX(100vw);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
        opacity: 1;
    }
}

.unmountSlideLeft{ animation: 0.3s ease-in-out unmountSlideLeftEffect; }
@keyframes unmountSlideLeftEffect {
    0%{
      transform: translateX(0);
      opacity: 1;
    }
    100%{
      transform: translateX(-100vw);
        opacity: 0;
    }
}

.mountSlideRight{ animation: 0.3s ease-in-out mountSlideRightEffect; }
@keyframes mountSlideRightEffect {
    0%{
      transform: translateX(-100vw);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
        opacity: 1;
    }
}

.unmountSlideRight{ animation: 0.3s ease-in-out unmountSlideRightEffect; }
@keyframes unmountSlideRightEffect {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(100vw);
      opacity: 0;
  }
}

.spinIn{ animation: 0.3s ease-in-out spinInEffect; }
@keyframes spinInEffect {
    0%{
      opacity: 0;
      transform: translate(-50%, -50%) rotate(180deg);
    }
    100%{
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0deg);
    }
}

.spinOut{ animation: 0.3s ease-in-out spinOutEffect; }
@keyframes spinOutEffect {
    0%{
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      opacity: 0;
      transform: translate(-50%, -50%) rotate(180deg);
    }
}


/* ---------- home ---------- */

@media screen and (max-width: 767px) {

  .Typewriter__wrapper, .Typewriter__cursor{
    font-size: 40px !important;
  }
  
}

@media screen and (max-width: 537px) {

  .Typewriter__wrapper, .Typewriter__cursor{
    font-size: 25px !important;
  }
  
}
